<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#eb-navbar-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="eb-navbar-main">
            <ul class="navbar-nav mr-auto">
                {% for link in site.data.nav.masthead.links %}
                    {% if link.url contains "http" %}
                        {% assign domain = '' %}
                    {% else %}
                        {% assign domain = site.url | append: site.baseurl %}
                    {% endif %}
                    
                    <li class="nav-item{% if page.url contains link.url %}{{ 'active' | prepend: ' '}}{% endif %}">
                        <a class="nav-link" href="{{ domain }}{{ link.url }}" {% if link.description %}title="{{ link.description }}" {% endif %}>
                            {{ link.title }}
                        </a>
                    </li>
                
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
{% include subnav.html %}

