{% assign len = include.pages | size | minus: 1 %}

{% if include.get != nil %}
    {% assign p = include.pages[include.get] %}
    {% if p %}
        {% if p.url contains "://" %}
            {% assign domain = "" %}
        {% else %}
            {% assign domain = site.url | append: site.baseurl %}
        {% endif %}
        
        <li class="page-item d-sm-block d-md-block{% if p.url == page.url %} active{% endif %}">
            <a class="page-link" href="{{ domain }}{{ p.url }}">
                {{ p.title }}
            </a>
        </li>
    {% endif %}
{% else %}
    {% for i in (0..len) %}
        {% assign p_i = i | minus: 1 %}
        {% assign n_i = i | plus: 1 %}
        {% assign p = include.pages[i] %}
        
        
        {% if p.url == page.url %}
            {% if p_i < 0 %}
                {% if include.parent %}
                    {% include page.html pages=include.parent get=0 %}
                {% endif %}
            {% else %}
                {% include page.html pages=include.pages get=p_i %}
            {% endif %}
            
            {% include page.html pages=include.pages get=i current=true %}
            
            {% if p.pages %}
                {% include page.html pages=p.pages get=0 %}
            {% elsif n_i > len %}
                {% if p.pages %}
                    {% include page.html pages=p.pages get=0 %}
                {% elsif include.parent %}
                    {% assign n_p = include.parent_id | plus: 1 %}
                    {% include page.html pages=include.parent get=n_p %}
                {% endif %}
            {% else %}
                {% include page.html pages=include.pages get=n_i %}
            {% endif %}
            
        {% else %}
            {% if p.pages %}
                {% include page.html pages=p.pages parent=include.pages parent_id=i %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
