{% assign paging = site.data.nav.paging[include.id] %}

{% if paging %}
    <footer>
        <div>
            <nav class="d-flex">
                <ul class="pagination mx-auto">
                    {% include page.html pages=paging.pages %}
                </ul>
            </nav>
        </div>
    </footer>
{% endif %}