{% if site.scripts.footer %}
  {% for script in site.scripts.footer %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script type="text/javascript" src="{{ script_path }}"></script>
  {% endfor %}
  
{% else %}
  <script src="{{ '/assets/js/jquery-3.3.1.slim.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
{% endif %}

{% if page.scripts %}
  {% for script in page.scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script type="text/javascript" src="{{ script_path }}"></script>
  {% endfor %}
{% endif %}

{% include search.html %}
{% include analytics.html %}
{% include comments.html %}




