{% assign sidebar = site.data.nav.paging[include.id] %}

{% if sidebar %}
    <div class="col-12 col-md-3 col-xl-2 eb-sidebar">
        <span class="btn btn-link eb-sidebar-collapse" data-toggle="collapse" data-target="#eb-sidebar">
            {{ page.title }}
        </span>
        
        <nav id="eb-sidebar" class="collapse">
            {% include sidebar-link.html item=sidebar index=0 %}
        </nav>
    </div>
{% endif %}