{% if include.item.pages %}
    {% assign collapse_target = "target-" | append: include.index %}
    {% capture collapse_toggle %}
        data-toggle="collapse" data-target="#{{ collapse_target }}"
    {% endcapture %}
{% else %}
    {% assign collapse_target = "" %}
    {% assign collapse_toggle = "" %}
{% endif %}


{% if include.item.url contains "://" %}
    {% assign domain = "" %}
{% else %}
    {% assign domain = site.url | append: site.baseurl %}
{% endif %}

<span class="eb-sidebar-item{% if include.item.url == page.url %} active {% endif %}">
    <a class="eb-sidebar-link" href="{{ domain }}{{ include.item.url }}">
        {% assign dots = include.index | minus: 1 %}
        {% for i in (0..dots) %}
            &middot;
        {% endfor %}
        {{ include.item.title }}
    </a>
    {% if include.item.pages %}
        <a href="javascript:void" class="eb-sidebar-toggle" {{ collapse_toggle }}></a>
    {% endif %}
</span>
{% if include.item.pages %}
    <nav class="eb-sidebar-nav collapse {% if include.item.url and page.url contains include.item.url %} show {% endif %}" id="{{ collapse_target }}">
        {% for item in include.item.pages %}
            {% assign next_index = include.index | plus: 1 %}
            {% include sidebar-link.html item=item index=next_index%}
        {% endfor %}
    </nav>
{% endif %}