{% assign subnavs = site.data.nav.masthead.subnavs %}
{% assign subnavs_len = subnavs| size %}

{% for i in (0..subnavs_len) %}
    {% if page.url contains subnavs[i].when %}
        {% assign subnav = subnavs[i] %}
        {% break %}
    {% endif %}
{% endfor %}

{% if subnav and page.subnav != false %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="javascript: void" data-toggle="collapse" data-target="#eb-navbar-subnav">
                {{ subnav.title }}
            </a>
            <div class="navbar-collapse collapse" id="eb-navbar-subnav">
                <ul class="navbar-nav mr-auto">
                    {% for link in subnav.links %}
                        <li class="nav-item{% if page.url contains link.url %}{{ 'active' | prepend: ' ' }}{% endif %}">
                            <a class="nav-link" href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
{% endif %}