
.eb-sidebar-collapse {
    display: block;
}

@media (max-width: 992px) {
    [data-target="#eb-navbar-subnav"]::after,
    .eb-sidebar-collapse::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    
}

@media (min-width: 768px) {
    .eb-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
        height: 100vh;
        border-right: 1px solid rgba(0,0,0,.1);
    }
    
    #eb-sidebar {
        display: block!important;
    }
    
    .eb-sidebar-collapse {
        display: none;
    }
}

.eb-page {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.eb-sidebar {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.eb-sidebar .active > a{
    color: rgba(0,0,0,.85);
    font-weight: 500;
}

.eb-sidebar-item {
    display: block;
}

.eb-sidebar-toggle {
    float: right;
}

.eb-sidebar-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: rgba(0,0,0,.65);
}

.eb-sidebar-link {
    color: rgba(0,0,0,.65);
}

.eb-sidebar-link:hover {
    text-decoration: none;
    color: rgba(0,0,0,.85);
}

.eb-main {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.eb-main {
    position: relative;
    width: auto;
    padding: 0 15px;
}

.dir-right::after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
}

.dir-left::after{
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: .3em solid transparent;
    border-right: .3em solid;
    border-bottom: .3em solid transparent;
    border-left: 0;
}