---
layout: default
---


<div class="container-fluid">
    <h1>{{ page.title }}</h1>
    <hr />
    {% include features.html features=page.features %}
    <div class="container-fluid">
        {{ content }}
    </div>
</div>