---
layout: default
fluid: true
---

<div class="container-fluid">
    <div class="row flex-xl-nowrap eb-page">
        {% include sidebar.html id=page.page_id %}
        <div class="col-12 col-md-9 col-xl-10 py-md-3 pl-md-5 eb-main">
            <h1>{{ page.title }}</h1>
            <hr />
            {% if page.tag %}
                <blockquote class="blockquote">
                    {{ page.tag.text | default: page.tag }}
                    {% if page.tag.cite %}
                        <footer class="blockquote-footer">
                            {{ page.tag.cite }}
                        </footer>
                    {% endif %}
                </blockquote>
            {% endif %}
            {% if page.resources %}
                <strong>Resources</strong>
                <ul>
                    {% for resource in page.resources %}
                        {% assign rsx = site.data.resources[resource] %}
                        {% if rsx %}
                            <li>{{ rsx.display }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            <hr />
            <main>
                {{ content }}
            </main>
            <hr />
            {% include pager.html id=page.page_id %}
        </div>
    </div>
    <!-- sticky pager -->
</div>
